tags
build*
*.qm
.directory
mysql.cnf
.DS_Store
.idea/
*.aps
cmake-build-debug*
preferences
compile_commands.json
.vs/
.vscode/
.cache
.gdb_history
/cockatrice.winui/Cockatrice/obj
/cockatrice.winui/Cockatrice/bin
/cockatrice.winui/Cockatrice/Cockatrice.csproj.user
